{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{% static 'assets/index/images/favicon.png' %}" type="image/x-icon">
    <title>Dashboard - Public</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="{% static 'assets/dashboard/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/dashboard/css/vehicle.css' %}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{% url 'public-dashboard' %}">
            <img src="{% static 'assets/index/images/logo.png' %}" alt="logo" class="dashboard-logo">
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'public-profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu custom-sidebar">
                    <div class="nav custom-navbar">
                        <a class="nav-link" href="{% url 'public-dashboard' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt custom-link"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="{% url 'public-profile' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-user custom-link"></i></div>
                            Profile
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-magnifying-glass custom-link"></i></div>
                            Status
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'status-person-missing' %}">Person Missing</a>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Vehicle
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'public-status-vehicle-missing' %}">Missing</a>
                                        <a class="nav-link" href="{% url 'public-status-vehicle-damage' %}">Damage</a>
                                    </nav>
                                </div>
                                <a class="nav-link" href="{% url 'public-relief-fund-status' %}">Relief Fund</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Welcome</div>
                    {{username}}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!-- <h1 class="mt-4 mb-5 text-center"></h1> -->
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active mt-5">Dashboard > Vehicle Management</li>
                    </ol>

                    <!-- form -->
                    <div class="wrapper m-auto">
                        <div class="title-text">
                            <div class="title login vehicle-heading">Vehicle Management</div>
                            <!-- <div class="title signup">Vehicle Damage</div> -->
                        </div>
                        <div class="form-container pb-3">
                            <div class="slide-controls">
                                <input type="radio" name="slide" id="login" checked>
                                <input type="radio" name="slide" id="signup">
                                <label for="login" class="slide login vehicle-slider">Vehicle Missing</label>
                                <label for="signup" class="slide signup vehicle-slider">Vehicle Damage</label>
                                <div class="slider-tab"></div>
                            </div>
                            <div class="form-inner">
                                <form action="public-vehicle-missing" class="login" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="issue" value="missing">
                                    <div class="field">
                                        <input type="text" placeholder="Registration No." name="reg_no" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Owner's Name" name="ower_name" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="License No." name="license_no" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Make and Model" name="vehicle_model" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Fuel Type" name="fuel_type" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="District" name="district" required>
                                    </div>
                                    <div class="field">
                                        <div class="input-field">
                                            <select class="form-select" name="state" id="state" required>
                                                <option disabled selected>Select State/Union Territory</option>
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Odisha">Odisha</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="West Bengal">West Bengal</option>
                                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                <option value="Chandigarh">Chandigarh</option>
                                                <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                                                <option value="Lakshadweep">Lakshadweep</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Puducherry">Puducherry</option>
                                                <option value="Ladakh">Ladakh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <label>RC Upload</label>
                                        <input type="file"  class="rc-photo" name="rc_photo" required>
                                    </div>
                                    <div class="input-field">
                                        <label>License Upload</label>
                                        <input type="file"  class="rc-photo" name="licence_photo" required>
                                    </div>
                                    <div class="input-field">
                                        <label>Vehicle Image Upload</label>
                                        <input type="file"  class="rc-photo" name="vehicle_photo" required>
                                    </div>
                                    <div class="field btn">
                                        <div class="btn-layer"></div>
                                        <input type="submit" value="Submit">
                                    </div>
                                </form>
                                <form action="public-vehicle-damage" class="signup" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="issue" value="damage">
                                    <div class="field">
                                        <input type="text" placeholder="Registration No." name="reg_no" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Owner's Name" name="ower_name" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="License No." name="license_no" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Make and Model" name="vehicle_model" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Fuel Type" name="fuel_type" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="District" name="district" required>
                                    </div>
                                    <div class="field">
                                        <div class="input-field">
                                            <select class="form-select" name="state" id="state" required>
                                                <option disabled selected>Select State/Union Territory</option>
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Odisha">Odisha</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="West Bengal">West Bengal</option>
                                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                <option value="Chandigarh">Chandigarh</option>
                                                <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                                                <option value="Lakshadweep">Lakshadweep</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Puducherry">Puducherry</option>
                                                <option value="Ladakh">Ladakh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            </select>
                                        </div>
                                    </div>
                                  
                                    <div class="input-field">
                                        <select class="form-select selectcolor" name="company_name"  required>
                                            <option disabled selected>Select Insurance Claim</option>
                                            {% for ins in insurance %}
                                            <option value="{{ ins.id }}">{{ ins.company_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                          
                                    <div class="input-field">
                                        <label>RC Upload</label>
                                        <input type="file"  class="rc-photo" name="rc_photo" required>
                                    </div>
                                    <div class="input-field">
                                        <label>License Upload</label>
                                        <input type="file"  class="rc-photo" name="licence_photo" required>
                                    </div>
                                    <div class="input-field">
                                        <label>Vehicle Image Upload</label>
                                        <input type="file"  class="rc-photo" name="vehicle_photo" required>
                                    </div>
                                    <div class="field btn">
                                        <div class="btn-layer"></div>
                                        <input type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- end form -->
                </div>
            </main>
            <footer class="py-4 bg-light mt-5">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; NDMS 2024</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{% static 'assets/dashboard/js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/dashboard/assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/dashboard/assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="{% static 'assets/dashboard/js/datatables-simple-demo.js' %}"></script>
    <script src="{% static 'assets/dashboard/js/vehicle.js' %}"></script>
</body>

</html>